<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .tariffs {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        body {
            padding: 0 50px;
        }
    </style>
</head>
<body>
    <h1>Choose Tariff</h1>

    <div class="tariffs">
        <div class="tarif">
            <h3>Tariff Name 1</h3>
            <p>Tarif Description 1</p>
            <h4><b>100 tng</b></h4>
            <a href="/tariff/">Subscribe</a>
        </div>

        <div class="tarif">
            <h3>Tariff Name 2</h3>
            <p>Tarif Description 2</p>
            <h4><b>200 tng</b></h4>
            <a href="/tariff/">Subscripe</a>
        </div>

        <div class="tarif">
            <h3>Tariff Name 3</h3>
            <p>Tarif Description 3</p>
            <h4><b>300 tng</b></h4>
            <a href="/tariff/">Subscripe</a>
        </div>

    </div>
</body>
</html>